/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
}

.top-buffer {
    margin-top: 20px;
}

.bottom-buffer {
    margin-bottom: 40px;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}

.book-title-h1 {
    margin-bottom: 20px;
    padding-bottom: 9px;
    border-bottom: 1px solid #eee;
}

.book-row {
    font-size: 0;
}

.book-row > * {
    float: none;
    display: inline-block;
    font-size: 14px;
}

.book-row > *:last-child {
    vertical-align: bottom;
}

.book-row p:last-child {
    margin-bottom: 0;
}

.book {
}

.thumbnail img {
    max-height: 100%;
    max-width: 100%;
}

.book-card {
    float: left;
    width: 33.333%;
    padding: .75rem;
    margin-bottom: 2rem;
    border: 0;
}

.book-cover {
    height: 200px;
}

.book-cover-holder {
}

.book-card-footer {

}