.overview-book-placeholder {
    padding-bottom: 3rem;
}

.overview-log-btn {
    border-radius: 2rem;
}

.empty {
    height: 200px;
}
  
.placeholder img {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}