.top-buffer {
    margin-top: 20px;
}

.bottom-buffer {
    margin-bottom: 40px;
}

.book {
}

.thumbnail img {
    max-height: 100%;
    max-width: 100%;
}

.book-cover {
}

.book-cover-holder {
}

.book-card-footer {
}