.top-buffer {
    margin-top: 20px;
}

.bottom-buffer {
    margin-bottom: 40px;
}

.book-row {
    font-size: 0;
}

.book-row > * {
    float: none;
    display: inline-block;
    font-size: 14px;
}

.book-row > *:last-child {
    vertical-align: bottom;
}

.book-row p:last-child {
    margin-bottom: 0;
}

.book {
}

.thumbnail img {
    max-height: 100%;
    max-width: 100%;
}

.book-cover {
}

.book-cover-holder {
}

.book-card-footer {
}